.p-toolbar {
  background-color: #333;
  color: white;
}

.p-toolbar-group-left a {
  margin-right: 20px;
  color: white;
}

.p-toolbar-group-right {
  display: flex;
  align-items: center;
}

.p-inputText {
  margin-right: 10px;
}
